body {
    font-family: Arial, sans-serif;
    background-color: #ffe6ea;
    margin: 0;
    padding: 0;
}

.left {
    background-color: white;
    opacity: 0.35;
    position: absolute;
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
}

/* Navigation Bar */
.navbar {
    background-color: #ff4d6d;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    font-family: "Lilita One", serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.menu {
    display: flex;
    gap: 53.5px;
    top: 60px;
    right: 0px;
    background: rgba(255, 77, 109, 0.8);
    position: absolute;
}
.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}
.menu a:hover {
    color: pink;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}

.hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

@media (min-width: 600px) {
    .menu {
        display: flex;
        position: static;
        background: none;
        flex-direction: row;
    }

    .menu a {
        margin-left: 15px;
    }

    .hamburger {
        display: none;
    }
}