body {
    font-family: Arial, sans-serif;
    background-color: #ffe6ea;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #ff4d6d;
    color: white;
    padding-top: 15px;  
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    font-family: "Lilita One", serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}
.navbar-nav .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: #ffc0cb;
}
.navbar-toggler {
    border: none;
    filter: invert(1);
}
.navbar-nav {
    gap: 50px;
}
.menu-container {
    padding: 20px;
}
.category {
    font-family: "Lilita One", serif;
    font-size: 22px;
    font-weight: 400;
    color: #c3002f;
    margin: 20px 0;
    text-align: center;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
}
.item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item p {
    margin: 10px 0;
    font-family: "Madimi One", serif;
    font-size: 18px;
}
.price {
    font-size: 16px;
    color: #ff4d6d;
}
.add-button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}