body {
    font-family: Arial, sans-serif;
    background: url(../assets/menu/background.jpg) fixed no-repeat center left;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #ff4d6d;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    font-family: "Lilita One", serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}
.navbar-nav .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: #ffc0cb;
}
.navbar-toggler {
    border: none;
    filter: invert(1);
}
.navbar-nav {
    gap: 25px;
}
.menu-container {
    padding: 20px;
}
.category {
    font-family: "Lilita One", serif;
    font-size: 22px;
    font-weight: 400;
    color: #c3002f;
    margin: 20px 0;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.5);
    padding: 5px;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 50px;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.item {
    background: rgb(255, 214, 221);
    padding: 15px;
    border-radius: 10px;
    border-bottom-style: solid;
    border-bottom-color: gold;
    border-width: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background: rgb(255, 196, 206);
}
.item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item p {
    margin: 10px 0;
    font-family: "Madimi One", serif;
    font-size: 18px;
}
.price {
    font-size: 16px;
    color: #ff4d6d;
}
.add-button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
.add-button:hover {
    background: #f86c86;
}
.add-button:active {
    background: #ff4d6d;
}
.footer {
    background-color: #ff4d6d;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 20px;
}